<h1>Edit Historical Landmark: </h1>

<form action="/landmarks/<%= @landmark.id %>" method="POST">
<input type="hidden" id="hidden" name="_method" value="PATCH">

<h2>Landmark Name: </h2>
<input type="text" id="name" name="landmark[name]" value="<%= @landmark.name %>">
<br>
<h2>Year Completed: </h2>
<input type="text" id="year_completed" name="landmark[year_completed]" value="<%= @landmark.year_completed %>">
<br>
<br>
<input type="submit" value="Edit Landmark">
</form>
<br>
<a class="button" href="/landmarks">Landmarks</a><br>
<a class="button" href="/">Home</a>
